<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>diagnose</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <link rel="icon" href="/assets/img/logo-small.png">
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"
          ><img
            src="/assets/img/logo.png"
            alt=""
            class="img-fluid"
            style="height: px"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" href="/feed">Home</a></li>
            <li><a class="nav-link scrollto" href="/profile">My Profile</a></li>
            <li><a class="nav-link scrollto" href="/bookmark">Bookmarked Cases</a></li>
            <li><a class="nav-link scrollto" href="/create">Post A Case</a></li>
 
          </ul>
        </nav><!-- .navbar -->

        <a href="/logout" class="signup-btn">Log Out</a>
      </div>
    </header>

    <section>
      <div class="container">
      