<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnose</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container">
                <a class="navbar-brand img-container" href="#">
                  <img src="https://image.pngaaa.com/4/6318004-middle.png" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
                  <span class="title">Diagnose</span>
                </a>
              </div>
              <nav class="navbar bg-light">
                <form class="container-fluid justify-content-end">
                  <button class="btn btn-outline-success me-2" type="button" style="width: 150px;">Log in</button>
                </form>
              </nav>
              <nav class="navbar bg-light">
                <form class="container-fluid justify-content-end">
                  <button class="btn btn-outline-success me-2" type="button" style="width: 150px;">Sign up </button>
                </form>
              </nav>
            </div>
        </div>
    </nav>

    <section class="bg-white text-dark p-5 text-center text-sm-start p-lg-0 pt-lg-5" id="background">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-around">
                <div>
                    <h1>Collaborate with top medical minds</h1>
                    <p class="lead my-4">Join the world-renowned Diagnose community today!</p>
                    <button class="btn btn-success btn-lrg" data-bs-toggle="modal"
                    data-bs-target="#enroll">Start The Enrollment</button>
                </div>
                <img class="img-fluid d-none d-sm-block family-img rounded" src="https://www.news-medical.net/images/Article_Images/ImageForArticle_22572_16533781526443229.jpg" alt="loid forger">
            </div>
        </div>
    </section>



    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>