<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Diagnose</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/assets/img/logo-small.png">
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"
          ><img
            src="assets/img/logo.png"
            alt=""
            class="img-fluid"
            style="height: px"
        /></a>
        <a href="/login" class="login-btn">Log in</a>
        <a href="/signup" class="signup-btn">Sign up</a>
      </div>
    </header>

<section>
  <div class=" mt-5">
    <div class="col-md-6 m-auto">
     
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el => { %>
              <div class="alert alert-danger my-1"><%= el.msg %></div>
          <% }) %>    
      <% } %>
      <% if (locals.messages.info) { %>
          <% messages.info.forEach( el => { %>
              <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %>    
      <% } %>
  <div class="container login-page mt-2">
    <form action="/login" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>
    <button type="submit" class="form-buttons">Submit</button>
  </form>

  </div>
</p>
</div>
</div>
</div>
</section>
 

  <footer class="text-center">
    <div class="copyright">
      &copy; Copyright <strong><span>Diagnose</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer>

  </body>