<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Diagnose</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"
          ><img
            src="assets/img/logo.png"
            alt=""
            class="img-fluid"
            style="height: px"
        /></a>
        <a href="/login" class="login-btn">Log in</a>
        <a href="/signup" class="signup-btn">Sign up</a>
      </div>
    </header>

<section>
  <div class="container signup-page">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          Register
        </h1>
        
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="userName"
              name="userName"
              class="form-control"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group my-3">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
            />
          </div>
          <div class="form-group my-3">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div>
          <button type="submit" class="form-buttons my-3">
            Register
          </button>     
        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>
  </div>
  </section>


<footer class="text-center">
  <div class="copyright">
    &copy; Copyright <strong><span>Diagnose</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer>
</body>
</html>
